@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

.container {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.genresbox {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2em;
}

.genresbox input {
    margin-left: 1em;
}

.box_movie {
    display: inline-block;
    border-radius: 5px;
    color: black;
    text-align: left;
    margin: 1px;
    padding: 1em;
    width: 250px;
}

img {
    width: 100%;
}

form,
.selectmos {
    text-align: left;
}

.ipepisode {
    margin-bottom: 1em;
}

#lnepisode {
    display: none;
}