@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

.container {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.genresbox {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2em;
}

.genresbox input {
    margin-left: 1em;
}

.box_movie {
    display: inline-block;
    color: black;
    text-align: left;
    margin: 1em;
    width: 250px;
    padding: 0;
}

.hidden {
    visibility: hidden;
    border-bottom: 2px solid white;
    background-color: white;
}

.hidden:hover {
    visibility: visible;
    background-color: red;
}

p {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0;
}

.col-3 {
    padding: 0;
}

img {
    width: 100%;
    border-radius: 20px;
}

form,
.selectmos {
    text-align: left;
}

.ipepisode {
    margin-bottom: 1em;
}

#lnepisode {
    display: none;
}

.wapper {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

.borderm {
    background-color: black;
    color: white;
}